* {
    margin: 0;
    padding: 0;
}

.logo {
    width: 180px;
    text-align: left;
    margin-left: 150px;
}

.menu {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
}

.container-box {
    display: flex;
    justify-content: right;
    text-align: center;
    width: 100%;
    margin-right: 150px;


}

.panak-a {
    display: flex;
    text-decoration: none;
    color: black;
    background-color: #AEAEAE;
    border-radius: 70px;
    padding: 8px;
    margin: 15px;
    align-items: center;
    font-weight: b;

}

.search-a {
    display: flex;
    text-decoration: none;
    color: black;
    background-color: #AEAEAE;
    border-radius: 70px;
    padding: 8px;
    margin: 15px;
    align-items: center;
}

.text-a {
    display: flex;
    text-decoration: none;
    color: black;
    background-color: #AEAEAE;
    border-radius: 20px;
    padding: 5px;
    width: 150px;
    margin: 15px;
    align-items: center;
    font-weight: bold;
    justify-content: center;
    font-family: 'Quicksand', sans-serif;
    transition: 0.6s;
}

.text-a:hover {
    opacity: 1;
    background-color: #797979;

}

/* Animated-Search-Bar */


.searchBox {
    transform: translate(-50, 100%);
    background: #AEAEAE;
    height: 45px;
    border-radius: 70px;
    margin-top: 18px;
    border-color: none;


}

.searchBox:hover>.searchInput {
    width: 250px;
}

.searchBox:hover>.searchButton {
    background: #AEAEAE;
    color: #AEAEAE;
    border-color: #AEAEAE;
    transition: 0.3s;
}

.searchButton {
    color: white;
    float: right;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #AEAEAE;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
    border: none;

}

.searchInput {
    border: none;
    background: none;
    outline: none;
    padding: 0;
    color: white;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    border-color: #AEAEAE;
    font-family: 'Quicksand', sans-serif;
    padding-top: 1px;
    margin-left: 4px;


}

.searchInput[type=text] {}